* {
  box-sizing: border-box;
}

body {
  background-image: url('newspaperBackground.jpg');
  margin: 0;
}


.head {
  color: white;
  background-color: cornflowerblue;
  border-bottom: 1px solid darkblue;
  box-shadow: 0px 0px 20px lightblue;
  -moz-box-shadow: 0px 0px 20px lightblue;
  -webkit-box-shadow: 0px 0px 20px lightblue;
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
  padding: 0px;
}



.guide {
  text-align: center;
  color: darkblue;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}

.logoImg {
  height: 5rem;
  width: 5rem;
}

#top {
  color: black;
  background: lightblue;
  border: 1px solid darkblue;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  margin-top: 0.5%;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  bottom: 2px;
  left: 2px;
  opacity: .75;
  z-index: 3;
}

#top:hover {
  cursor: pointer;
  background: white;
  color: blue;
  transition-duration: 2s;
  transition: ease-in-out;
  opacity: 1;
}

.lightbox {
  position: relative;
  background: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: darkblue;
  padding: 5px;
  margin-bottom: 0.5%;
}

.eBox {
  background: lightblue;
  font-family: 'Raleway', sans-serif;
  color: darkblue;
  width: 100%;
  padding: 5px;
}

.clickable {
  color: rgb(92, 121, 248);
  text-align: center;
  width: 100%;
  height: auto;
}


.sml {
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
}

#close {
  color: white;
  border: 1px solid white;
  position: relative;
  float: right;
  background-color: rgba(40, 14, 185, 0.767);
  font-size: 1.2em;
  border-radius: 5px;
}

#close:hover {
  cursor: pointer;
  color: rgb(40, 14, 185);
  background-color: white;
  transition-duration: 1s;
}

.newsURL, .wikiLink {
  color: darkblue;
  background: ghostwhite;
  text-decoration: none;
  border-radius: .3em;
  padding: .3em;
  overflow: auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
}

.newsURL:hover, .wikiLink:hover {
  color: cornflowerblue;
  background: white;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 300ms;
}

.navField {
  border: none;
}


footer {
  width: 100%
}

.cite {
  float: right;
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}

.citeLink {
  font-family: 'Rubik', sans-serif;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}


.mainBox {
  background-color: rgba(0, 0, 2, 0.473);
  border-radius: 5px;
  min-height: 100vh;
  width: auto;
  margin: auto;
}

main {
  width: 100%;
}


.tnBtn, .snBtn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 3%;
  border: 1px solid white;
  background-color: rgba(40, 14, 185, 0.767);
  font-family: 'Rubik', sans-serif;
  font-size: 120%;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.dBtn, .wBtn, #home {
  text-align: center;
  width: 100%;
  border: 1px solid white;
  background-color: rgba(12, 8, 202, 0.767);
  font-family: 'Rubik', sans-serif;
  font-size: 120%;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.tnBtn:hover, .snBtn:hover, #home:hover {
  color: rgba(48, 27, 236, 0.767);
  background-color: white;
  font-weight: bolder;
  transition-duration: 1s;
  text-shadow: none;
  cursor: pointer;
}

 #home {
  margin-top: 0px;
  text-align: center;
  border: 1px solid white;
  background-color: rgba(12, 8, 202, 0.767);
  font-family: 'Rubik', sans-serif;
  font-size: 120%;
  color: white;
  text-shadow: black 2px 2px 2px;
}

 #home:hover {
  color: rgba(48, 27, 236, 0.767);
  background-color: white;
  font-weight: bolder;
  transition-duration: 1s;
  text-shadow: none;
  cursor: pointer;
}

.dBtn:hover, .wBtn:hover {
  color: rgba(48, 27, 236, 0.767);
  background-color: white;
  font-weight: bolder;
  transition-duration: 1s;
  text-shadow: none;
  cursor: pointer;
}


.snField {
  border: none;
}

.searchNewsInput {
  color: blue;
  text-align: center;
  align-content: center;
  width: 100%;
  border: none;
  border-bottom: 3px solid darkgray;
  border-radius: 0px;
  background-color: white;
  height: 50px;
  font-size: 110%;
  font-weight: bold;
}

.wikiInput, .defineInput {
  color: blue;
  text-align: center;
  align-content: center;
  width: 100%;
  border: none;
  border-bottom: 3px solid gray;
  border-radius: 0px;
  background-color: white;
  height: 50px;
  font-size: 110%;
  font-weight: bold;
}

.logo {
  font-family: 'Rubik', sans-serif;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-size: 1.2em;
}

.logo1 {
  font-family: 'Rubik', sans-serif;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-size: 2em;
}

.navLogo {
  margin: 0 1em;
  float: left;
  padding-bottom: .3em;
}

.newsBox {
  z-index: 1;
  position: relative;
  border: 1px solid black;
  box-shadow: 0px 2px 5px;
  -moz-box-shadow: 0px 2px 5px;
  -webkit-box-shadow: 0px 2px 5px;
  padding: 2%;
  background-color: rgb(246, 249, 250);
  margin-top: 2em;
}

.tagBox {
  background-color: rgba(0, 0, 7, 0.651);
  padding: 5%;
}

.breaker {
  font-size: 120%;
  color: blue;
  text-align: center;
  animation: breaker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}

.info {
  color: rgb(221, 233, 250);
  text-shadow: blue 2px 2px 2px;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
}

.stuff {
  color: white;
  text-shadow: black 2px 2px 2px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .02em;
  font-family: 'Raleway', sans-serif;
}

.tnBox, .snBox {
  margin: auto;
  text-align: center;
  width: 100%;
}

.start {
  text-align: center;
  padding: 5%;
  margin: auto;
}

.med {
  height: auto;
  width: 100%;
  border: 1px solid black;
}

.dBox, .sBox {
  display: inline-block;
  padding: inherit;
  width: 100%;
  height: auto;
}

.defBox, .wikiBox {
  border: 1px solid black;
  padding: 10px;
  height: auto;
  width: auto;
}

.burger {
  height: 1em;
  width: 1.2em;
  float: right;
  margin: 0 1em;
  margin-top: -.2em;
}

.newsContent {
  text-indent: 10%;
  font-family: 'Rubik', sans-serif;
}

.newsTitle {
  font-family: 'Raleway', sans-serif;
  color: darkblue;
  font-size: large;
  text-align: center;
  padding: 1%;
  box-shadow: 1px 1px 3px 1px gainsboro;
  background-color: #f8fafd;
  border: 1px solid cornflowerblue;
}

.newsSource {
  font-size: x-small;
  float: right;
  color: #72a7cf;
}

.star {
  height: 10px;
  width: 10px;
  padding: .2em;
  margin: -.25em 0;
}

.innerBox {
  background: linear-gradient(white, white, white, white, #d8e3f6, #d8e3f6);
  padding: 2%;
  margin-bottom: .5em;
  box-shadow: 0px 0px 20px 5px aliceblue;
  margin-left: .5em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.newsContent::first-letter {
  font-weight: bolder;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

@keyframes breaker {
    from {color: blue;
          border-top: 1px solid blue;
          border-bottom: 1px solid blue;}
    to {color: white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;}
}


@keyframes bounceIn {
  from,
  20%, 40%, 60%, 80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 1.75s;
  animation-name: bounceIn;
}

@media only screen and (min-width: 768px) {

.tnBox, .snBox {
  width: 45%;
  display: inline-block;
}

.newsBox {
  display: grid;
  grid-template: ". . .";
}

.start {
    max-height: 100vh;
}

.snField {
  border-left: 1px solid white;
}

.dropdown {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.dBox {
  border-right: 1px solid white;
}
}

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background-color: #d9e6ee;
}

::-webkit-scrollbar-thumb {
    background: cornflowerblue;
}

::-webkit-scrollbar-thumb:hover {
    background: #b6c0e9;
}

//font-family: 'Raleway', sans-serif;
//font-family: 'Rubik', sans-serif;
