body {
  background-image: url('newspaperBackground.jpg');
}


.head {
  color: white;
  background-color: cornflowerblue;
  border-bottom: 1px solid darkblue;
  box-shadow: 0px 0px 20px lightblue;
  -moz-box-shadow: 0px 0px 20px lightblue;
  -webkit-box-shadow: 0px 0px 20px lightblue;
  z-index: 10;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
  padding: 0px;
}



.guide {
  text-align: center;
  color: darkblue;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#top {
  color: black;
  background: lightblue;
  border: 1px solid darkblue;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  text-align: center;
  margin-top: 0.5%;
  font-family: monospace;
}

#top:hover {
  cursor: pointer;
  background: white;
  color: blue;
  transition-duration: 2s;
  transition: ease-in-out;
}

.lightbox {
  position: relative;
  background: whitesmoke;
  font-family: 'Cormorant SC', serif;
  font-size: 1.1em;
  color: darkblue;
  padding: 5px;
  margin-bottom: 0.5%;
}

.eBox {
  background: lightblue;
  font-family: 'Cormorant SC', serif;
  color: darkblue;
  width: 100%;
  padding: 5px;
}

.clickable {
  color: rgb(92, 121, 248);
  text-align: center;
  width: 100%;
  height: auto;
}


.sml {
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
}

.clickable:hover {
  background-image: linear-gradient(
  cornflowerblue,darkblue);
  cursor: pointer;
}

#close {
  color: white;
  border: 1px solid white;
  position: relative;
  float: right;
  background-color: rgba(40, 14, 185, 0.767);
  font-size: 1.2em;
  border-radius: 5px;
}

#close:hover {
  cursor: pointer;
  color: rgb(40, 14, 185);
  background-color: white;
  transition-duration: 1s;
}

.newsURL, .wikiLink {
  color: darkblue;
  background: lightsteelblue;
  border: 1px solid blue;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  overflow: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

.newsURL:hover, .wikiLink:hover {
  color: blue;
  background: white;
  border: 1px solid blue;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 2s;
}

.navField {
  border: none;
}


footer {
  width: 100%
}

.cite {
  float: right;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}

.citeLink {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}


.mainBox {
  background-color: rgba(0, 0, 2, 0.473);
  border-radius: 5px;
  height: auto;
  width: auto;
  margin: auto;
  padding: 30px;
}



.tnBtn, .snBtn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 3%;
  border: 1px solid white;
  background-color: rgba(40, 14, 185, 0.767);
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.dBtn, .wBtn, #home {
  text-align: center;
  width: 100%;
  border: 1px solid white;
  background-color: rgba(12, 8, 202, 0.767);
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.tnBtn:hover, .snBtn:hover, #home:hover {
  color: rgba(48, 27, 236, 0.767);
  background-color: white;
  font-weight: bolder;
  transition-duration: 1s;
  text-shadow: none;
  cursor: pointer;
}

 #home {
  margin-top: 0px;
  text-align: center;
  border: 1px solid white;
  background-color: rgba(12, 8, 202, 0.767);
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
  color: white;
  text-shadow: black 2px 2px 2px;
}

 #home:hover {
  color: rgba(48, 27, 236, 0.767);
  background-color: white;
  font-weight: bolder;
  transition-duration: 1s;
  text-shadow: none;
  cursor: pointer;
}

.dBtn:hover, .wBtn:hover {
  color: rgba(48, 27, 236, 0.767);
  background-color: white;
  font-weight: bolder;
  transition-duration: 1s;
  text-shadow: none;
  cursor: pointer;
}


.snField {
  border: none;
}

.searchNewsInput {
  color: blue;
  text-align: center;
  align-content: center;
  width: 100%;
  border: none;
  border-bottom: 3px solid darkgray;
  border-radius: 0px;
  background-color: white;
  height: 50px;
  font-size: 110%;
  font-weight: bold;
}

.wikiInput, .defineInput {
  color: blue;
  text-align: center;
  align-content: center;
  width: 100%;
  border: none;
  border-bottom: 3px solid gray;
  border-radius: 0px;
  background-color: white;
  height: 50px;
  font-size: 110%;
  font-weight: bold;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: black 2px 2px 2px;
    text-align: center;
}

.navLogo {
  width: 100%;
  margin: 0 auto;
}

.newsBox {
  z-index: 1;
  position: relative;
  border: 1px solid black;
  box-shadow: 0px 2px 5px;
  -moz-box-shadow: 0px 2px 5px;
  -webkit-box-shadow: 0px 2px 5px;
  padding: 2%;
  background-color: rgb(246, 249, 250);
}

.tagBox {
  background-color: rgba(0, 0, 7, 0.651);
  padding: 5%;
}

.breaker {
  font-size: 120%;
  color: blue;
  text-align: center;
  animation: breaker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}

.info {
  color: rgb(221, 233, 250);
  text-shadow: blue 2px 2px 2px;
  font-size: 1.3em;
}

.stuff {
  color: white;
  text-shadow: black 2px 2px 2px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .02em;
}

.tnBox, .snBox {
  margin: auto;
  text-align: center;
  width: 100%;
}

.start {
  text-align: center;
  padding: 5%;
  margin: auto;
}

.med {
  height: 50%;
  width: 50%;
  border: 1px solid black;
}

.dBox, .sBox {
  display: inline-block;
  padding: inherit;
  width: 100%;
  height: auto;
}

.defBox, .wikiBox {
  border: 1px solid black;
  padding: 10px;
  height: auto;
  width: auto;
}


.newsContent {
  text-indent: 10%;
  font-family: 'Cormorant SC', serif;
  font-size: 1.1em;
  font-weight: bold;
}

.newsTitle {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: grey 0px 2px 5px;
}

.newsSource {
  text-decoration: underline;
}

.newsContent::first-letter {
  font-weight: bolder;
  font-size: 1.5em;
  font-family: 'Almendra SC', serif;
}

@keyframes breaker {
    from {color: blue;
          border-top: 1px solid blue;
          border-bottom: 1px solid blue;}
    to {color: white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;}
}


@keyframes bounceIn {
  from,
  20%, 40%, 60%, 80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 1.75s;
  animation-name: bounceIn;
}
